<div class="c-accord {{accord.groupClass}}">
  <div class="c-accord__title js-accord-trigger">
    <div class="t-content">
      {{accord.title}}
    </div>
  </div>
  <div class="c-accord__content js-accord-content">
    <div class="t-content">
      {{accord.content}}
    </div>
  </div>
</div>