<div class="c-box">
  <span class="c-box__bg" style="background-image:url({{info.imgUrl}});"></span>
  <div class="c-box__content">
    <h3 class="c-box__title">{{info.title}}</h3>
    <h4 class="c-box__subtitle">{{info.subtitle}}</h4>  
  </div>
</div>