<div class="c-box" data-box-trigger="{{info.boxID}}">
  <span class="c-box__bg" style="background-image:url({{info.imgUrl}});"></span>
  
  <div class="c-box__content">
    <p class="c-box__title">{{info.title}}</p>
    <p class="c-box__subtitle">{{info.subtitle}}</p>  
  </div>
</div>