<div class="c-count">
  <div class="c-count__ico">
    <img class="js-lazyload" data-src="{{count.icoUrl}}" alt="{{count.txt}}">
  </div>
  
  <div class="c-count__content">
    <div class="c-count__number js-count" data-count-to="{{count.countdown}}">0</div>
    <div class="c-count__desc">{{count.txt}}</div>
  </div>
</div>