<div class="l-sec__text">
  <div class="t-content u-text-italic u-text-center">{{slide.txt}}</div>
  <div class="c-separator c-separator--big-gap"><div class="c-separator__circle"></div></div>
  <div class="t-content t-content--medium u-text-center">{{slide.quoter}}</div>
</div>