<div class="l-sec__text l-sec__row--small">
  <div class="l-sec__row--small-2">
    <div class="t-content t-content--primary u-text-italic u-text-center">{{slide.txt}}</div>
    <div class="c-separator"><div class="c-separator__circle"></div></div>
  </div>
  <div class="t-content t-content--medium u-text-center">{{slide.quoter}}</div>
</div>