<footer class="l-sec l-sec--small l-sec--bg-blue l-sec--t-white l-footer">
    <div class="l-inner">
        <div class="l-sec__row--small u-flex u-justify-content-center">
            <div class="c-logo c-logo--w">Artica</div>
        </div>
        <div class="u-flex u-justify-content-center">
            <div class="t-content t-content--xs">
                <p>&copy; 2013. All rights reserved</p>
            </div>
        </div>
    </div>
</footer>
