<header class="l-header">
    <div class="l-inner l-header__inner">
        <div class="l-header__logo">
            <a href="/" class="c-logo">Artica</a>
        </div>

        <div class="l-header__hamburger">
            <button class="c-btn c-btn--hamburger js-show-nav">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>

    <span class="l-header__cloack js-cloack"></span>

    <div class="l-header__nav">
        {% include '../main-nav.twig' %}
    </div>
</header>
