<section class="l-sec l-sec--t-white l-hero">
  <span class="l-sec__bg l-sec__bg--gray-mask"
        style="background-image: url('./static/img/architecture-city.jpg');"></span>
  <div class="l-inner l-hero__inner">
    <div class="l-hero__box">
      <div class="l-sec__text">
        <h1 class="c-logo c-logo--big l-hero__title u-paint-white-1">Artica</h1>

        <span class="c-separator c-separator--white">
          <span class="c-separator__circle"></span>
        </span>

        <div class="t-content l-hero__content">
          <p>
            Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elemena porttlit nisi,pretium ut lacinia in elementumestibulum ac diam sit anet.
          </p>
        </div>

        <a href="#" class="c-btn c-btn--default">
          <span class="c-btn__wrap">Purshase Theme</span>  
        </a>
      </div>
    </div>
  </div>
</section>