<section class="l-sec l-sec--bg-blue l-sec--t-white l-sec--default" id="contact">
  <div class="l-inner">
    <div class="l-sec__text">
      <h2 class="t-head t-head--s1 l-sec__main-head">FEEL FREE TO ASK US ANYTHING</h2>

      <h3 class="t-head t-head--s2 u-text-light l-sec__sub-head">Our Portfolio</h3>

      <span class="c-separator c-separator--white">
        <span class="c-separator__circle"></span>
      </span>

      <div class="t-content">
        <p>
          Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tinci dunt. Quisque velit nisi, pretium ut lacinia in, elemena porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lac inia in, elementum id enim. Vestibulum ac diam sit anet.
        </p>
      </div>
    </div>

    <div class="l-sec__row">
      <div class="l-grid">
        <div class="l-grid__item l-grid__item-4 u-justify-content-center">
          <div class="c-ico-box">
            <div class="c-ico-box__ico-wrap">
              <div class="o-ico o-ico--l c-ico-box__ico">
                <img src="./static/img/ico-rounded-home.png" alt="home">
              </div>
            </div>

            <div class="c-ico-box__text">
              <h4 class="t-head t-head--s2 c-ico-box__title">Adresse</h4>
              <div class="t-content t-content--medium">
                <p>Awesome Street 234,NY</p>
              </div>
            </div>
          </div>
        </div>

        <div class="l-grid__item l-grid__item-4 u-justify-content-center">
          <div class="c-ico-box">
            <div class="c-ico-box__ico-wrap">
              <div class="o-ico o-ico--l c-ico-box__ico">
                <img src="./static/img/ico-rounded-chat.png" alt="chat">
              </div>
            </div>

            <div class="c-ico-box__text">
              <h4 class="t-head t-head--s2 c-ico-box__title">Mail</h4>
              <div class="t-content t-content--medium">
                <p><a href="mailto:articamail@mail.com">articamail@mail.com</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="l-grid__item l-grid__item-4 u-justify-content-center">
          <div class="c-ico-box">
            <div class="c-ico-box__ico-wrap">
              <div class="o-ico o-ico--l c-ico-box__ico">
                <img src="./static/img/ico-rounded-home.png" alt="home">
              </div>
            </div>

            <div class="c-ico-box__text">
              <h4 class="t-head t-head--s2 c-ico-box__title">Phone</h4>
              <div class="t-content t-content--medium">
                <p><a href="mailto:(000)123-456-789">(000)123-456-789</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <form action="#" class="f-form js-contact-form">
      <div class="l-grid u-space-h-2">
        <div class="l-grid__item l-grid__item-4 f-field">
            <input type="text" data-validate-field="name" name="name" class="f-control f-control--default f-control--white f-control--ph-1" placeholder="Enter name">
        </div>

        <div class="l-grid__item l-grid__item-4 f-field">
          <input type="email" data-validate-field="email" name="email" class="f-control f-control--default f-control--white f-control--ph-1" placeholder="Enter mail">
        </div>

        <div class="l-grid__item l-grid__item-4 f-field">
          <input type="text" data-validate-field="subject" name="subject" class="f-control f-control--default f-control--white f-control--ph-1" placeholder="Enter subject">
        </div>

        <div class="l-grid__item l-grid__item-12 f-field">
          <textarea cols="30" rows="10" data-validate-field="text" name="message" class="f-control f-control--default f-control--white f-control--ph-1" placeholder="Enter message"></textarea>
        </div>

        <div class="l-grid__item l-grid__item-12 u-justify-content-center f-actions">
          <div class="f-control-wrapper">
            <input type="submit" class="f-control c-btn c-btn--default c-btn--white" value="Send Message">
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
