<section class="l-sec l-sec--t-white l-sec--default u-text-center">
  <span class="l-sec__bg l-sec__bg--dark-blue-mask" 
        style="background-image:url(./static/img/architecture-design.jpg);">
  </span>

  <div class="l-inner">
    <div class="l-sec__row--small-2">
      <div class="t-content t-content--big u-text-light">
        <p>
          Design must reflect the practical and aesthetic in business but above all... <br />
          good design must primarily serve people.
        </p>
      </div>
    </div>

    <div class="t-content t-content--primary">
      <p>
        <strong>Thomas J. Watson</strong>
      </p>
    </div>

  </div>
</section>