<section class="l-sec l-sec--default l-sec--bg-white l-sec--t-gray">
  <div class="l-inner">
    <div class="l-sec__text l-sec__row">
      <div class="l-sec__row--small">
        <h2 class="t-head t-head--s1 l-sec__main-head u-paint-blue-dark-1">We have skills</h2>
      </div>

      <div class="t-content t-content--primary">
        <p>Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tinci dunt. Quisque velit nisi, pretium ut lacinia in, elemena porttitor accumsan tincidun.</p>
      </div>
    </div>

    <div class="l-grid u-space-h-2 u-space-v-6">
      <div class="l-grid__item l-grid__item-6 l-grid__item-12@t-m">
        <div class="l-block">
          <h3 class="t-head t-head--s2 u-paint-blue-dark-1 l-sec__sub-head">Our Company</h3>
          <div class="t-content t-content--primary l-sec__row--small">
            <p>Cras ultricies ligula sed magna dictum porta. Curabitur arcu erat, accumsan id imperdiet 
                et, porttitor at sem. Nulla quis lorem ut libero malesuada feugiat. Nulla porttitor accum
                san tincidunt. Vivamus suscipit tortor eget felis porttitor volutpat. Quisque velit nisi, 
                pretium ut lacinia in, elementum id enim. Quisque velit nisi, pretium ut lacinia in, 
                elementum id enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices 
                posuere cubilia Curae; Donec velit neque, auctor situr arcu erat, accumsan id imperdiet 
                et, porttitor at sem.</p>
          </div>
          <a href="#" class="c-btn c-btn--default c-btn--blue-light">
            <span class="c-btn__wrap">Read more</span>
          </a>
        </div>
      </div>

      <div class="l-grid__item l-grid__item-6 l-grid__item-12@t-m">
        <div class="l-block">
          <h3 class="t-head t-head--s2 u-paint-blue-dark-1 l-sec__sub-head">Our Skills</h3>
          <div class="l-grid u-space-v-1">
            {% for accord in accordSkills %}
              <div class="l-grid__item l-grid__item-12">
                {% include '../components/accord.twig' with {'accord': accord} %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>