<section class="l-sec l-sec--bg-white l-sec--t-gray l-sec--default" id="blog">
  <div class="l-inner">
    <div class="l-sec__text l-sec__row">
      <div class="l-sec__row--small">
        <h2 class="t-head t-head--s1 u-paint-blue-dark-1">Bootstrap Grid ready</h2>

        <h3 class="t-head t-head--s2 u-text-light l-sec__sub-head">Our Blog</h3>

        <span class="c-separator">
          <span class="c-separator__circle"></span>
        </span>
      </div>

      <div class="t-content t-content-primary">
        <p>
          Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tinci dunt. Quisque velit nisi, pretium ut lacinia in, elemena porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lac inia in, elementum id enim. Vestibulum ac diam sit anet.
        </p>
      </div>
    </div>

    <div class="l-sec__row u-flex u-wrap u-justify-content-center c-btn-grid">
      <button class="c-btn c-btn--alt is-active js-cat-btn js-btn-group-news" data-trigger-cat="all">All</button>
      <button class="c-btn c-btn--alt js-cat-btn js-btn-group-news" data-trigger-cat="newest">Newest</button>
      <button class="c-btn c-btn--alt js-cat-btn js-btn-group-news" data-trigger-cat="oldest">Oldest</button>
      <button class="c-btn c-btn--alt js-cat-btn js-btn-group-news" data-trigger-cat="mostPopular">Most Popular</button>
    </div>

    <div class="g-container">
      {% for post in posts %}
        {% include '../components/post-box.twig' with {'post': post} %}
      {% endfor %}
    </div>

  </div>
</section>