<section class="l-sec l-sec--bg-white l-sec--t-gray l-sec--default l-modern" id="portfolio">
  <div class="l-inner">
    <div class="l-sec__text l-sec__row">
      <div class="l-sec__row--small">
        <h2 class="t-head t-head--s1 u-paint-blue-dark-1 l-sec__main-head">MODERN AND CLEAN DESIGN</h2>

        <h3 class="t-head t-head--s2 u-text-light l-sec__sub-head">Our Portfolio</h3>

        <span class="c-separator">
          <span class="c-separator__circle"></span>
        </span>
      </div>

      <div class="t-content t-content--primary">
        <p>
          Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tinci dunt. Quisque velit nisi, pretium ut lacinia in, elemena porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lac inia in, elementum id enim. Vestibulum ac diam sit anet.
        </p>
      </div>
    </div>

    <div class="l-sec__row--big u-flex u-wrap u-justify-content-center c-btn-grid">
      <button class="c-btn c-btn--alt is-active js-cat-btn" data-trigger-cat="all">All</button>
      <button class="c-btn c-btn--alt js-cat-btn" data-trigger-cat="graphic">Graphic</button>
      <button class="c-btn c-btn--alt js-cat-btn" data-trigger-cat="web">Web</button>
      <button class="c-btn c-btn--alt js-cat-btn" data-trigger-cat="photography">Photography</button>
    </div>

    <div class="l-sec__row--big-2 l-sec__ico-after">
      <div class="l-grid u-space-v-4 u-space-h-2">
        {% set i=1 %}
        {% for box in boxes %}
          {% include '../components/box-tooltip.twig' with {'info': box } %}
        {% set i=i+1 %}
        {% endfor %}

        {% set i=1 %}
        {% for box in boxes %}
          {% include '../components/box.twig' with {'info': box } %}
        {% set i=i+1 %}
        {% endfor %}
      </div><!--end l-grid -->
    </div>

    <div class="l-sec__text l-sec__row--small">
      <h2 class="t-head t-head--s1 u-paint-blue-dark-1 l-sec__main-head">We love our work</h2>
    
      <div class="t-content t-content--primary l-sec__text-content">
        <p>
          Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tinci dunt. Quisque velit nisi, pretium ut lacinia in, elemena porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lac inia in, elementum id enim. Vestibulum ac diam sit anet.
        </p>
      </div>
    </div>

    <div class="u-text-center">
      <a href="#" class="c-btn c-btn--default c-btn--blue-light">
        <span class="c-btn__wrap">Purshase Theme</span>
      </a>
    </div>
  </div>


</section>