<section class="l-sec l-sec--default l-sec--bg-blue l-sec--t-white" id="about">
  <div class="l-inner">
    <div class="l-sec__text">
      <h2 class="t-head t-head--s1 l-sec__main-head">FULLY RESPONSIVE DESIGN</h2>

      <h3 class="t-head t-head--s2 l-sec__sub-head">About Us</h3>

      <span class="c-separator c-separator--white">
        <span class="c-separator__circle"></span>
      </span>

      <div class="t-content">
        <p>
          Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tinci dunt. Quisque velit nisi, pretium ut lacinia in, elemena porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lac inia in, elementum id enim. Vestibulum ac diam sit anet.
        </p>
      </div>
    </div>

    <div class="l-sec__row">
      <div class="l-grid u-space-h-2 u-space-v-4 ">
        {% set i = 1 %}
        {% for user in users %}
            {% include '../components/user-tooltip.twig' with {'info': user} %}
        {% set i = i + 1 %}
        {% endfor %}

        {% set i = 1 %}
        {% for user in users %}
          {% include '../components/user.twig' with {'info': user} %}
        {% set i = i + 1 %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>