<section class="l-sec l-sec--bg-blue l-sec--t-white l-sec--default" id="clients">
  <div class="l-inner">
    <div class="l-sec__text">
      <h2 class="t-head t-head--s1 l-sec__main-head">Our Customers</h2>

      <div class="t-content">
        <p>Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tinci dunt. Quisque velit nisi, pretium ut lacinia in, elemena porttitor accumsan tincidun.        </p>
      </div>
    </div>

    <div class="l-grid">
      <div class="l-grid__item l-grid__item-2 u-justify-content-center">
        <div class="o-image-wrapper">
          <img src="./static/img/logo-1.png" alt="Half studio logo" class="o-image o-image--fluid">
        </div>
      </div>

      <div class="l-grid__item l-grid__item-2 u-justify-content-center">
        <div class="o-image-wrapper">
          <img src="./static/img/logo-2.png" alt="Jupiter logo" class="o-image o-image--fluid">
        </div>
      </div>

      <div class="l-grid__item l-grid__item-2 u-justify-content-center">
        <div class="o-image-wrapper">
          <img src="./static/img/logo-3.png" alt="Rocket logo" class="o-image o-image--fluid">
        </div>
      </div>

      <div class="l-grid__item l-grid__item-2 u-justify-content-center">
        <div class="o-image-wrapper">
          <img src="./static/img/logo-4.png" alt="Monopic logo" class="o-image o-image--fluid">
        </div>
      </div>

      <div class="l-grid__item l-grid__item-2 u-justify-content-center">
        <div class="o-image-wrapper">
          <img src="./static/img/logo-5.png" alt="Mars logo" class="o-image o-image--fluid">
        </div>
      </div>

      <div class="l-grid__item l-grid__item-2 u-justify-content-center">
        <div class="o-image-wrapper">
          <img src="./static/img/logo-6.png" alt="Jupiter logo" class="o-image o-image--fluid">
        </div>
      </div>
    </div>
  </div>
</section>