<section class="l-sec l-sec--bg-white l-sec--t-gray l-sec--default">
  <div class="l-inner">
    <div class="l-sec__text">
      <h2 class="t-head t-head--s1 u-paint-blue-dark-1">FULLY LAYERED AND CUSTOMIZABLE TEMPLATE</h2>

      <h3 class="t-head t-head--s2 u-text-light l-sec__sub-head">Our Services</h2>

      <span class="c-separator">
        <span class="c-separator__circle"></span>
      </span>

      <div class="t-content">
        <p>
          Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tinci dunt. Quisque velit nisi, pretium ut lacinia in, elemena porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lac inia in, elementum id enim. Vestibulum ac diam sit anet.
        </p>
      </div>
    </div>

    <div class="l-grid u-space-v-4 u-space-h-4">
      <div class="l-grid__item l-grid__item-3">
        <div class="c-ico-box">
          <div class="c-ico-box__ico-wrap">
            <div class="o-ico o-ico--circle-big c-ico-box__ico">
              <img src="./static/img/ico-html.png" alt="HTML">
            </div>
          </div>

          <div class="c-ico-box__text">
            <h3 class="t-head t-head--s2 c-ico-box__title u-paint-blue-light-1">Html&amp;css</h3>
            <div class="t-content c-ico-box__desc">
              <p>
                Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor.
              </p>
            </div>
          </div>
        </div><!--end of c-ico-box -->
      </div><!--end of l-grid-item -->

      <div class="l-grid__item l-grid__item-3">
        <div class="c-ico-box">
          <div class="c-ico-box__ico-wrap">
            <div class="o-ico o-ico--circle-big c-ico-box__ico">
              <img src="./static/img/ico-stylus.png" alt="HTML">
            </div>
          </div>

          <div class="c-ico-box__text">
            <h3 class="t-head t-head--s2 c-ico-box__title u-paint-blue-light-1">GRAPHIC DESIGN</h3>
            <div class="t-content c-ico-box__desc">
              <p>
                Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor.
              </p>
            </div>
          </div>
        </div><!--end of c-ico-box -->
      </div><!--end of l-grid-item -->

      <div class="l-grid__item l-grid__item-3">
        <div class="c-ico-box">
          <div class="c-ico-box__ico-wrap">
            <div class="o-ico o-ico--circle-big c-ico-box__ico">
              <img src="./static/img/ico-clock.png" alt="HTML">
            </div>
          </div>

          <div class="c-ico-box__text">
            <h3 class="t-head t-head--s2 c-ico-box__title u-paint-blue-light-1">ON TIME PROJECTS</h3>
            <div class="t-content c-ico-box__desc">
              <p>
                Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor.
              </p>
            </div>
          </div>
        </div><!--end of c-ico-box -->
      </div><!--end of l-grid-item -->

      <div class="l-grid__item l-grid__item-3">
        <div class="c-ico-box">
          <div class="c-ico-box__ico-wrap">
            <div class="o-ico o-ico--circle-big c-ico-box__ico">
              <img src="./static/img/ico-support.png" alt="HTML">
            </div>
          </div>

          <div class="c-ico-box__text">
            <h3 class="t-head t-head--s2 c-ico-box__title u-paint-blue-light-1">FULLY SUPPORT</h3>
            <div class="t-content c-ico-box__desc">
              <p>
                Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor.
              </p>
            </div>
          </div>
        </div><!--end of c-ico-box -->
      </div><!--end of l-grid-item -->
    </div><!--end of l-grid -->
  </div>
</section>