.js-validate-error-label {
    position: absolute;
    left: 1rem;
    
    top: -1rem;
    z-index: 2;

    display: block;

    padding: .5rem;

    background: $color_white;

    font-weight: 700;
    font-size: 1.6rem;
}