.g-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2rem;

  @include media('<=t-m'){
    display: flex;
    flex-wrap: wrap;
    margin: -1rem;
  }
}

.g-box {

  @include media('<=t-m'){
    width: 100%;
    padding: 1rem;
  }

  & > * {
    height: 100%;
  }

  &:nth-child(1) {
    grid-column: span 3;
  }

  &:nth-child(2) {
    grid-column: span 3;
  }

  &:nth-child(3){
    grid-column: span 4;
  }

  &:nth-child(4) {
    grid-row: span 2;

    grid-column: span 2;
  }

  &:nth-child(5){
    grid-column: span 2;
  }

  &:nth-child(6){
    grid-column: span 2;
  }
}

