.l-hero {
  position: relative;
}

.l-hero__inner {
  align-items: center;

  display: flex;

  min-height: calc(80rem - 10rem);
  max-width: 100%;
  padding: 0;

  @include media('<=t-m') {
    max-height: 60rem;
  }

  @include media('<=m') {
    min-height: unset;
    max-height: unset;
    height: unset;
  }

  @media (max-height: 600px) {
    min-height: unset;
    max-height: unset;
    height: unset;
  }
}

.l-hero__box {
  background: rgba($color_blue_dark_2, .5);

  width: 100%;
  padding: 4rem 2rem 7rem 2rem;

  text-align: center;

  @include media('<=t-m') {
    padding: 2rem 2rem 3.5rem 2rem;
  }
}

.l-hero__title {
  margin: 0 0 2rem;
}

.l-hero__content {
  margin: 2rem 0;
}



