.l-sec {
  position: relative;
}

.l-sec__bg {
  @extend %helper-absolute-center;

  background-size: cover;

  &::after {
    @extend %helper-absolute-center;

    content: "";
  }
}

.l-sec__bg--gray-mask {
  &::after {
    background: rgba($color_gray, .5);
  }
}

.l-sec__bg--dark-blue-mask {
  &::after {
    background: rgba($color_blue_dark, .5);
  }
}

.l-sec__row {
  margin: 0 auto 6rem auto;

  @include media('<=t-m') {
    margin: 0 auto 4rem auto;
  }
}

.l-sec__row--big {
  margin: 0 auto 7rem auto;

  @include media('<=t-m') {
    margin: 0 auto 4.5rem auto;
  }
}

.l-sec__row--big-2 {
  margin: 0 auto 9rem auto;

  @include media('<=t-m') {
    margin: 0 auto 5.5rem auto;
  }
  @include media('<=m-s') {
    margin: 0 auto 3.5rem auto;
  }
}

.l-sec__row--small {
  margin: 0 auto 3rem auto;

  @include media('<=t-m') {
    margin: 0 auto 2rem auto;
  }
}

.l-sec__row--small-2 {
  margin: 0 auto 3.5rem auto;

  @include media('<=t-m') {
    margin: 0 auto 2.25rem auto;
  }
}

.l-sec__row--small-3 {
  margin: 0 auto 2rem auto;
}

.l-sec__text {
    max-width: 75rem;

    text-align: center;
}

.l-sec__main-head {
  margin-bottom: 1.5rem;
}

.l-sec__sub-head {
  margin: 1.5rem 0 2rem;
}

.l-sec--t-white {
    color: $color_white;
}

.l-sec--t-gray {
    color: $color_gray_2;
}

.l-sec--bg-white {
    background: $color_white;
}

.l-sec--bg-blue {
    background: $color_blue;
}

.l-sec--default {
    padding: 6rem 0;

    @include media('<=t-m') {
      padding: 3.5rem 0;
    }
}

.l-sec--small {
  padding: 0 0 4rem 0;

  @include media('<=t-m') {
    padding:0 0 2.5rem 0;
  }
}

.l-sec__ico-after::after {
  content: "";

  position: relative;
  left: 50%;
  transform: translateX(-50%);

  display: inline-block;
  
  margin: 2rem auto 0 auto;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  padding: 2rem;

  background-image: url('../img/ico-arrow.png');
  background-position: center;
  background-repeat: no-repeat;
  background-color: $color_blue_dark_2;

  @include media('<=m'){
    width: 4rem;
    height: 4rem;
    padding: 1.5rem;

    background-size: 1.5rem;
  }

}
