.c-nav {
    display: none;

    width: 34rem;
    height: 100vh;
    padding: 6rem 5rem 6rem 4rem;

    background: $color_blue_dark_2;

    &.u-show {
        display: block;
    }

    @include media('<=m') {
        width: 100%;
        padding: 2rem 3rem;
    }
}

.c-nav__top {
    align-items: center;
    justify-content: space-between;

    display: flex;

    margin-bottom: 6rem;

    @include media('<=m') {
        margin-bottom: 2rem;
    }
}

.c-nav__logo {
    margin-left: 1rem;
}

.c-nav__close {
    color: $color_white;

    span {
        font-size: 2rem;
        font-weight: 700;
    }
}

.c-nav__menu {
    margin: 0 0 4rem;
    padding: 0;

    list-style-type: none;

    @media (max-height: 500px){
        flex-wrap: wrap;

        display: flex;
    }
}

.c-nav__el {
    margin: 2rem 0;

    @media (max-height: 500px){
        margin: 1rem;
    }
}

.c-nav__el-link {
    font-size: 2rem;
    text-decoration: none;
    color: white;

    @include media('<=m'){
        font-size: 1.6rem;
    }
}

.c-nav__socials {
    justify-content: space-between;
    align-items: center;

    display:flex;

    margin: 0 -0.5rem;

    @include media('<=m') {
        justify-content: flex-start;
    }
}

.c-nav__social {
    margin: 0 .5rem;
}
