.c-user-box {
  position: relative;

  margin: 0 auto;
  
  text-align: center;

  cursor: pointer;
}

.c-user-box.is-active::after {
  @include arrow('bottom', 2rem, $color_blue_dark_2);
  @include arrow-position('top', 3rem);

  content: "";

  position: absolute;
  left: 50%;
  
  transform: translateX(-50%);
}

.c-user-box__img-wrap {
  position: relative;

  margin: 0 auto 2rem auto;
  border: 2px solid $color_white;
  border-radius: 50%;
  width: 20rem;
  height: 20rem;

  overflow: hidden;

  &::after {
    @extend %helper-absolute-center;
    
    content: "";

    background: rgba($color_blue_dark_2, .5);
  }

  &:hover::before {
    @extend %helper-absolute-center;
    
    content: "";

    z-index: 2;

    border-radius: 50%;
    width: 6rem;
    height: 6rem;

    background-image: url(../img/ico-arrow.png);
    background-repeat: no-repeat;
    background-color: $color_blue_dark_2;
    background-size: 2rem 2rem;
    background-position: center;

    @include media('<=t-m'){
      width: 3.5rem;
      height: 3.5rem;
    }
  }

  &:hover .c-user-box__img{
    transform: scale(1.2);
  }

  @include media('<=t-m'){
    margin-bottom: 1.5rem;
    width: 12.5rem;
    height: 12.5rem;
  }

  @include media('<=m-s'){
    margin-bottom: 1rem;
    width: 9rem;
    height: 9rem;
  }
}

.c-user-box__img {
  transform: scale(1);
  height: 100%;
  width: 100%;

  transition: transform $transition_speed;

  background-size: cover;
}

.c-user-box__name {
  margin: .5rem 0;
}
